OBS_ACCESS_KEY=
OBS_SECRET_KEY=
OBS_SECURITY_TOKEN=
OBS_ENDPOINT=https://obs.cn-north-4.myhuaweicloud.com
OBS_REGION=cn-north-4
OBS_SIGNATURE=obs
OBS_SSL_VERIFY=true
OBS_PATH_STYLE=false
OBS_MAX_RETRY_COUNT=3
OBS_CONNECT_TIMEOUT=10
OBS_SOCKET_TIMEOUT=60

OBS_BUCKET=my-obs-bucket-demo
OBS_OBJECT_KEY=my-obs-object-key-demo
OBS_SOURCE_OBJECT_KEY=my-obs-source-object-key-demo
OBS_LOCAL_FILE_PATH=/tmp/obs-download.bin
OBS_SAMPLE_FILE_PATH=/tmp/obs-sample.bin
